html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eafaf1;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

p,
li {
    font-size: 21px;
}

.nav-main li {
    display: inline-block;
    margin: 0px;
    padding: 3px;
    list-style: none;
    flex-wrap: nowrap;
}

.nav-main li a {
    text-decoration: none;
    color: #00ad6a;
}

nav a:active {
   border-bottom: 2px wheat solid;
}

.signup {
    border: 1px solid #00ad6a;
    padding: 6px;
}

.icon {
    display: none;
    width: 45px;
    height: 45px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading p{
    margin-bottom: -55px;
    padding-bottom: 0;
}
.columns {
    display: flex;
    flex-direction: column;
}

.columns>* {
    flex-basis: 100%;
}

.one {
    height: 60%;
    margin-top: 8%;
    padding: 30px;
}

.one h3 {
    color: #00ad6a;
}

.one a {
    color: black;
}

.two {
    background-color: #fff;
    border: 1px solid #00ad6a;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.two h3 {
    background-color: #00ad6a;
    margin-top: 0;
}

.two h1 {
    color: green;
}

.two button {
    background-color: #1fe374;
    border: none;
    padding: 7px;
}

.two .signnow {
    text-decoration: none;
}

.two p {
    font-weight: bolder;
}

.padd {
    padding: 0 30px;
}

.three {
    background-color: #fff;
    margin-top: 4%;
    text-align: center;
    border: 1px solid #d6dae5;
}

.three .first {
    background-color: #d6dae5;
    margin-top: 0;
    padding: 5px;
}

.three h1 {
    color: green;
}

.three button {
    background-color: #1fe374;
    border: none;
    padding: 7px;
}

.three .premium {
    text-decoration: none;
}

.hero-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-align: center;
}

.hero-two img {
    padding-top: 10px;
    padding-bottom: 0;
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

.hero-two blockquote {
    margin: 0;
}

.hero-two cite {
    color: #00ad6a;
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
}

.faq-section {
    background-color: #fff;
    padding: 50px 80px;
}

.faq {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

footer {
    color: white;
    background-color: #000;
    padding: 30px 80px 5px;
}

.footer-main {
    display: flex;
    flex-direction: column;

}

.footer-main>* {
    flex-basis: 100%;
}

.footer-img {
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
}

.btn-left {
    padding: 20px;
    margin-bottom: 25px;
    background-color: #00ad6a;
    color: #000;
}

.btn-left a {
    text-decoration: none;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.right li {
    list-style: none;
    padding: 5px 0;
}

.right li a {
    color: green;
    text-decoration: none;
}

.list li:nth-of-type(1) a {
    color: #fff;
}

.footer-hero-left p {
    font-size: 12px;

}

.footer-hero-left a {
    color: #fff;

}

.footer-contact {
    float: right;
}

.footer-contact {
    background-color: #1fe374;
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    display: inline-block;
}

@media screen and (min-width:992px) {
    header {
        padding: 0 80px;
    }

    .hero {
        padding: 0 80px;
    }

}

@media screen and (min-width: 768px) {
    .nav-main {
        display: flex;
    }

    .nav-main li {
        margin-left: 20px;
        list-style: none;
    }

    .heading p{
        margin-bottom: 30px;
        padding-bottom: 0;
    }
    .columns {
        display: flex;
        flex-direction: row;
    }

    .faq {
        grid-template-columns: 1fr 1fr;

    }

    .footer-main {
        flex-direction: row;
    }
}

@media only screen and (max-width: 480px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    header {
        display: show;
    }

    nav ul {
        display: none;
        background-color: #eafaf1;
        margin: 0px;
    }
    .heading p{
        margin-bottom: -55px;
        padding-bottom: 0;
    }
    
.one h3 {
    text-align: center;
}
    .signup {
        padding: 3px;
        border-radius: 4px;
    }
   
    .faq-section {
        padding: 50px 40px;
        min-width: 100%;
    }
    footer {
        padding: 30px 10px 5px;
        margin: 0 auto;
    }
    .right {
        margin-left: 0px;
        padding: 0;
    }

    .right>.list {
        padding: 0;
        margin: 0;
    }
    .right li a {
        font-size: 17px;
    }
}


@media screen and (max-width:768px) {
    header {
        display: block;
        justify-content: space-between;
        margin: 0px;
    }
    .signup{
       max-width: max-content;
    }

    .topnav {
        overflow: hidden;
        position: relative;
    }

    .topnav #nav-list {
        display: none;
        padding: 0px;
    }

    .topnav #nav-list li {
        display: block;
        padding: 0px;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
/* 
    .icon {
        display: show;
    } */

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 25;
    }
}